#main{ 
    img{
        width: 100%;
        height: 260px;
        object-fit: cover;
        box-sizing: border-box;
    }
    .menu__btn{
        background-color: $color-grey-light;
        width: 100%;
        height: 125px;
        display: flex;
        justify-content: center;
    }
}

.menu{
    background-color: $color-grey-light;
    width: 100%;
    border-radius: 40px 40px 0 0;
    padding-top: 40px;
    margin-top: -44px;
    position: relative;
    @include desktop{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__titre{
        padding: 0 1em;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include desktop{
            width: 100%;

        }
        h1{
            margin: 0;
            font-family: 'shrikhand', sans-serif;
            font-size: 27px;
        }
        input{
            visibility: hidden;
            position: absolute;
            top: -100vh;
            &:checked + label{
                animation: heart 1000ms forwards;
            }
        }
        label{
            font-size: 27px;
            padding-right: 1em;
            color: white;
            text-shadow: 0 0 2px #000;
            &:hover{
                cursor: pointer;
                animation: heart 1000ms forwards;
            }
        }
    }
    &__entree{
        padding: 0 1em 1em 1em;
        @include desktop{
            width: 30%;
        }
        h2{
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
        }
        hr{
            width: 50px;
            background-color: $color-tertiary;
            height: 3px;
            border: none;
            margin: 0.25em 0 1em 0;
        }
    }
}
.plats{
    background-color: $color-white;
    width: 100%;
    height: 68px;
    border-radius: $border-rad-15;
    margin-bottom: 1em;
    box-sizing: border-box;
    display: flex;
    @include box-shadows-light;
    &:hover{
        cursor: pointer;
    }
    &__contenu{
        width: 100%;
        height: 100%;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    &__hidden{
        background-color: $color-tertiary;
        width: 0px;
        height: 100%;
        border-radius: 0 $border-rad-15 $border-rad-15 0;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            color: $color-white;
            font-size: 20px;
            display: none;
        }
    }
    &:hover &__hidden{
        animation: slider 400ms forwards;
        i{
            display: block;
            animation: rotate 600ms;    
        }
    }
    &__nom{
        margin: 0;
        font-weight: 500;
        width: 100%;
        padding-bottom: 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__accompagnement{
        font-size: 14px;
        font-weight: 300;
        width: 85%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__prix{
        font-size: 14px;
        font-weight: bold;
        width: 15%;
        text-align: right;
    }
}

@for $i from 1 to 4 {
    .fade-in#{$i}{
        animation: fade-in 1000ms 200ms*$i both;
    }
}