// Les couleurs principales
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;


//Les couleurs génériques
$color-black:#000000;
$color-white:#FFFFFF;
$color-grey-light:#F6F6F6;
$color-grey-medium:#EAEAEA;
$color-grey-dark:#353535;
$color-font-awesome:#8F8F8F;
$color-txt:#2f2f2f;


// Border radius
$border-rad-15:15px;
$border-rad-20:20px;
$border-rad-25:25px;